/* Imported google fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Quicksand, sans-serif;
}

body {
    background: #2a295e;
}

.start-quiz, .rules-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Start quiz button styling */
.start-quiz button {
    font-size: 50px;
    font-weight: 500;
    padding: 10px 15px;
    color: #2a295e;
    background-color: #cfd6f9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.start-quiz button:hover {
    border: #ad00f2 4px solid;
    color: #ad00f2;
    font-size: 60px;
}

/* Rules pop up */
.rules-box {
    display: none;
    width: 500px;
    padding: 10px 15px;
    background: #cdddf8 ;
    color: #2a295e;
    border: 10px inset #cfd6f9;
    border-radius: 5px;
}

.rules-box .rules-title {
    width: 100%;
    height: 50px;
    border-bottom: solid 2px ;
    text-transform: uppercase;
    text-align: center;
    font-weight: 900;
    font-size: 150%;
}

.rules-box .rules-list {
    padding: 20px 30px;
    font-weight: 700;
}

.rules {
    padding: 5px;
}

.rules span {
    color: #ad00f2;
    text-transform: uppercase;
}

/* Rules pop up buttons */
.rules-box .buttons {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 5px;
}

.rules-box .buttons button {
    margin: 0 5px;
    height: 50px;
    width: 50%;
    border: #2a295e solid 2px;
    border-radius: 5px;
    font-size: 150%;
    font-weight: 700;
    color: #2a295e;
    cursor: pointer;
}

/* Buttons hover */
.buttons .button-restart:hover {
    border: #ad00f2 4px solid;
    color: #ad00f2;
    font-size: 160%;
}

.buttons .button-quit:hover {
    border: #ad00f2 4px solid;
    color: #ad00f2;
    font-size: 160%;
}