/* Imported google fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Quicksand, sans-serif;
}

body {
    background: #2a295e;
}

.start-quiz, .rules-box, .quiz-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Start quiz button styling */
.start-quiz button {
    font-size: 50px;
    font-weight: 500;
    padding: 10px 15px;
    color: #2a295e;
    background-color: #cfd6f9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.start-quiz button:hover {
    border: #ad00f2 4px solid;
    color: #ad00f2;
    font-size: 60px;
}

/* Rules pop up */
.rules-box {
    display: none;
    width: 500px;
    padding: 10px 15px;
    background: #cdddf8 ;
    color: #2a295e;
    border: 10px inset #cfd6f9;
    border-radius: 5px;
}

.rules-box .rules-title {
    width: 100%;
    height: 50px;
    border-bottom: solid 2px ;
    text-transform: uppercase;
    text-align: center;
    font-weight: 900;
    font-size: 150%;
}

.rules-box .rules-list {
    padding: 20px 30px;
    font-weight: 700;
}

.rules {
    padding: 5px;
}

.rules span {
    color: #ad00f2;
    text-transform: uppercase;
}

/* Rules pop up buttons */
.rules-box .buttons {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 5px;
}

.rules-box .buttons button {
    margin: 0 5px;
    height: 50px;
    width: 50%;
    border: #2a295e solid 2px;
    border-radius: 5px;
    font-size: 150%;
    font-weight: 700;
    color: #2a295e;
    cursor: pointer;
}

/* Rules buttons hover */
.buttons .button-restart:hover {
    border: #ad00f2 4px solid;
    color: #ad00f2;
    font-size: 160%;
}

.buttons .button-quit:hover {
    border: #ad00f2 4px solid;
    color: #ad00f2;
    font-size: 160%;
}

/* Quiz box */
.quiz-box {
    width: 600px;
    background-color: #cdddf8;
    color: #2a295e;
    border-radius: 5px;
}

/* Quiz header */
.quiz-box header {
    position: relative;
    z-index: 99;
    height: 60px;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px 5px 0 0;
    box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.2);
}

.quiz-box header .title {
    font-size: 25px;
    font-weight: 700;
    margin-left: 20px;
}

/* Quiz timer */
.quiz-box header .timer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    height: 45px;
    margin-right: 20px;
    background: #9a9aca;
    border: none;
    border-radius: 4px;
    padding: 0 5px;
}

.quiz-box header .timer .timer-text {
    font-weight: 700;
    font-size: 15px;
    user-select: none;
}

.quiz-box header .timer .timer-sec {
    font-weight: 900;
    font-size: 17px;
    background: #2a295e;
    color: #cfd6f9;
    width: 45px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border: none;
    border-radius: 5px;
}

/* Quiz box section */
.quiz-box section {
    padding: 20px 30px 20px 30px;
    background-color: #cdddf8;
}

.quiz-box section .question {
    font-size: 20px;
    font-weight: bolder;
}

.quiz-box section .answer-list {
    padding: 15px 0;
    display: block;
}

section .answer-list .answer {
    background: #9a9aca;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin-bottom: 20px;
    font-size: 20x;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

section .answer-list .answer:hover {
    color: #cfd6f9;
    background: #2a295e;
}

.answer-list .answer:last-child {
    margin-bottom: 0px;
}

.answer-list .answer .icon {
    height: 30px;
    width: 30px;
    line-height: 30px;
    font-size: 25px;
    pointer-events: none;
}

/* Quiz box footer */
.quiz-box footer {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

.quiz-box footer .tot-que span {
    display: flex;
    user-select: none;

}

footer .tot-que span p {
    font-weight: 700;
    padding: 4px;
}

footer .tot-que span p:first-child {
    padding-left: 0px;
}

footer .next {
    margin: 0 5px;
    height: 40px;
    width: 25%;
    border: #2a295e solid 2px;
    border-radius: 5px;
    font-size: 150%;
    font-weight: 700;
    color: #2a295e;
    cursor: pointer;
}

footer .next:hover {
    border: #ad00f2 4px solid;
    color: #ad00f2;
}